@charset "UTF-8";
#wrap {
  overflow-x: hidden;
}
#wrap > header {
  position: relative;
  height: 180px;
  border-top: 5px solid #009223;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width:768px) {
  #wrap > header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: #fff;
  }
}
#wrap > header > .bg-lnb {
  display: none;
  position: absolute;
  left: 0;
  top: 181px;
  z-index: 100;
  width: 100%;
  height: 250px;
  background-color: #fff;
}
@media screen and (max-width:768px) {
  #wrap > header > .bg-lnb {
    display: none;
  }
}
#wrap > header > .bg-nav {
  display: none;
}
@media screen and (max-width:768px) {
  #wrap > header > .bg-nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
#wrap > header > .header-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container {
    max-width: initial;
    width: 100%;
    height: 60px;
  }
}
#wrap > header > .header-container > h1 {
  width: 202px;
  margin: 0 auto;
  padding: 40px 0;
  text-indent: -9999px;
}
#wrap > header > .header-container > h1 > a {
  display: block;
  height: 40px;
  line-height: 40px;
  background-image: url(./../images/logo_w.png);
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > h1 {
    width: 161px;
    padding: 13.5px 0;
    height: 60px;
  }
  #wrap > header > .header-container > h1 > a {
    height: 33px;
    line-height: 33px;
    background-image: url(./../images/mobile/logo_app.png);
  }
}
#wrap > header > .header-container > nav {
  transition: all 0.2s;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav {
    overflow: auto;
    position: fixed;
    left: -90%;
    top: 0;
    z-index: 300;
    width: 90%;
    height: 100%;
    background-color: #f6f6f6;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  #wrap > header > .header-container > nav::-webkit-scrollbar {
    display: none;
  }
}
#wrap > header > .header-container > nav > .submenu-header {
  display: none;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .submenu-header {
    display: block;
    height: 300px;
    padding: 20px 20px 0 30px;
    background-color: #009223;
    box-sizing: border-box;
  }
  #wrap > header > .header-container > nav > .submenu-header > .submenu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    margin-bottom: 40px;
  }
  #wrap > header > .header-container > nav > .submenu-header > .submenu-container > h2 {
    width: 160px;
  }
  #wrap > header > .header-container > nav > .submenu-header > .submenu-container > h2 > a {
    display: block;
    height: 30px;
    text-indent: -9999px;
    background-image: url(./../images/mobile/logo_sidemenu.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  #wrap > header > .header-container > nav > .submenu-header > .submenu-container > .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
  }
  #wrap > header > .header-container > nav > .submenu-header > .submenu-container > .setting > a {
    display: block;
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    background-image: url(./../images/mobile/icon_setting.png);
    background-size: contain;
    background-position: center center;
  }
  #wrap > header > .header-container > nav > .submenu-header > .submenu-container > .setting > .btn-cls {
    border: none;
    outline: none;
    background: none;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background-image: url(./../images/mobile/icon_sidemenu_close_02.png);
    background-size: contain;
  }
  #wrap > header > .header-container > nav > .submenu-header > p {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
  }
}
#wrap > header > .header-container > nav > .snb-container {
  position: absolute;
  right: 10px;
  top: 50px;
  margin-top: -15px;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .snb-container {
    left: 30px;
    right: 30px;
    top: 180px;
  }
}
#wrap > header > .header-container > nav > .snb-container > .snb {
  display: flex;
  width: 248px;
  height: 30px;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .snb-container > .snb {
    justify-content: space-between;
    width: 100%;
    height: 40px;
  }
}
#wrap > header > .header-container > nav > .snb-container > .snb > li {
  position: relative;
  margin-right: 30px;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .snb-container > .snb > li {
    position: initial;
    width: 48%;
    margin-right: 0;
    border-radius: 50px;
    transition: all 0.2s;
  }
}
#wrap > header > .header-container > nav > .snb-container > .snb > li:after {
  display: block;
  position: absolute;
  right: -15px;
  top: 50%;
  width: 3px;
  height: 3px;
  margin-top: -2px;
  background-color: #ddd;
  border-radius: 50%;
  content: "";
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .snb-container > .snb > li:after {
    display: none;
  }
}
#wrap > header > .header-container > nav > .snb-container > .snb > li:hover > a {
  color: #009223;
}
#wrap > header > .header-container > nav > .snb-container > .snb > li > a {
  display: block;
  height: 30px;
  color: #666;
  font-size: 13px;
  line-height: 30px;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .snb-container > .snb > li > a {
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
  }
}
#wrap > header > .header-container > nav > .snb-container > .snb > li:last-child {
  width: 30px;
  height: 30px;
  margin-right: 0;
  text-indent: -9999px;
  background-image: url(./../images/icon_utill_global.png);
}
#wrap > header > .header-container > nav > .snb-container > .snb > li:last-child::after {
  display: none;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(1) {
    background-color: #ffce32;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(1) > a {
    color: #fff;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(1):hover {
    background-color: #fff;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(1):hover > a {
    color: #009223;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(2) {
    background-color: #fff;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(2) > a {
    color: #222;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(2):hover {
    background-color: #ffce32;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(2):hover > a {
    color: #009223;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(3) {
    display: none;
  }
  #wrap > header > .header-container > nav > .snb-container > .snb > li:nth-child(4) {
    display: none;
  }
}
#wrap > header > .header-container > nav > .mobile-menu {
  display: none;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .mobile-menu {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    row-gap: 10%;
    -moz-column-gap: 10%;
         column-gap: 10%;
    width: 90%;
    height: 200px;
    margin: -50px auto 0;
    padding: 20px 15%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 30px 0 30px 0;
  }
  #wrap > header > .header-container > nav > .mobile-menu > li {
    background-position: center top;
    background-size: 50px auto;
    background-repeat: no-repeat;
  }
  #wrap > header > .header-container > nav > .mobile-menu > li > a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 50px 0 0;
    font-weight: 600;
    box-sizing: border-box;
  }
  #wrap > header > .header-container > nav > .mobile-menu > li:nth-child(1) {
    background-image: url(./../images/mobile/quick_01_fast.png);
  }
  #wrap > header > .header-container > nav > .mobile-menu > li:nth-child(2) {
    background-image: url(./../images/mobile/quick_02_home.png);
  }
  #wrap > header > .header-container > nav > .mobile-menu > li:nth-child(3) {
    background-image: url(./../images/mobile/quick_03_group.png);
  }
  #wrap > header > .header-container > nav > .mobile-menu > li:nth-child(4) {
    background-image: url(./../images/mobile/quick_04_subcard.png);
  }
  #wrap > header > .header-container > nav > .mobile-menu > li:nth-child(5) {
    background-image: url(./../images/mobile/quick_06_coupon.png);
  }
  #wrap > header > .header-container > nav > .mobile-menu > li:nth-child(6) {
    background-image: url(./../images/mobile/quick_05_gift.png);
  }
}
#wrap > header > .header-container > nav > .gnb {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb {
    display: block;
    width: 90%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 30px 0 30px 0;
  }
}
#wrap > header > .header-container > nav > .gnb > li {
  flex: 1;
  position: relative;
  text-align: center;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb > li {
    text-align: left;
    background-position: 20px 16px;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    border-bottom: 3px solid #f6f6f6;
  }
  #wrap > header > .header-container > nav > .gnb > li:nth-child(1) {
    background-image: url(./../images/mobile/icon_app_gnb_menu.png);
  }
  #wrap > header > .header-container > nav > .gnb > li:nth-child(2) {
    background-image: url(./../images/mobile/icon_app_gnb_howto.png);
  }
  #wrap > header > .header-container > nav > .gnb > li:nth-child(3) {
    background-image: url(./../images/mobile/icon_app_gnb_news.png);
  }
  #wrap > header > .header-container > nav > .gnb > li:nth-child(4) {
    background-image: url(./../images/mobile/icon_app_gnb_subway.png);
  }
  #wrap > header > .header-container > nav > .gnb > li:nth-child(5) {
    background-image: url(./../images/mobile/icon_app_gnb_store.png);
  }
  #wrap > header > .header-container > nav > .gnb > li:nth-child(6) {
    background-image: url(./../images/mobile/icon_app_gnb_customer.png);
    border-bottom: none;
  }
  #wrap > header > .header-container > nav > .gnb > li.on > a::after {
    margin-top: -2px;
    transform: scaleX(1) rotate(315deg);
  }
  #wrap > header > .header-container > nav > .gnb > li.on:hover > a:after {
    margin-top: -2px;
    transform: scaleX(1) rotate(315deg);
  }
}
#wrap > header > .header-container > nav > .gnb > li:hover > a:after {
  transform: scaleX(1);
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb > li:hover > a:after {
    transform: scaleX(1) rotate(135deg);
  }
}
#wrap > header > .header-container > nav > .gnb > li > a {
  display: inline-block;
  position: relative;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  transition: all 0.2s;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb > li > a {
    width: 100%;
    padding: 0 70px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    box-sizing: border-box;
    transition: none;
  }
}
#wrap > header > .header-container > nav > .gnb > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #009223;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: all 0.3s;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb > li > a:after {
    right: 30px;
    top: 50%;
    left: auto;
    bottom: auto;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    border-top: 2px solid #bbb;
    border-right: 2px solid #bbb;
    background: none;
    transform-origin: center center;
    transform: scaleX(1) rotate(135deg);
  }
}
#wrap > header > .header-container > nav > .gnb > li > .lnb {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 250px;
  padding: 10px 0;
  box-sizing: border-box;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb > li > .lnb {
    position: initial;
    height: auto;
    padding-left: 50px;
    background-color: #fcfcfc;
    box-sizing: border-box;
  }
}
#wrap > header > .header-container > nav > .gnb > li > .lnb > .lnb-container > ol {
  display: flex;
  flex-flow: column nowrap;
}
#wrap > header > .header-container > nav > .gnb > li > .lnb > .lnb-container > ol > li {
  margin: 3px 0;
}
#wrap > header > .header-container > nav > .gnb > li > .lnb > .lnb-container > ol > li:hover > a {
  color: #fff;
  background-color: #ffce32;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > nav > .gnb > li > .lnb > .lnb-container > ol > li:hover > a {
    color: #009223;
    background-color: initial;
  }
}
#wrap > header > .header-container > nav > .gnb > li > .lnb > .lnb-container > ol > li > a {
  display: inline-block;
  padding: 0 10px;
  font-size: 15px;
  line-height: 2;
  border-radius: 20px;
}
#wrap > header > .header-container > nav > .gnb > li:nth-child(4) > div > div > ol > li:nth-child(3) > a {
  letter-spacing: -1px;
}
#wrap > header > .header-container > .btn-gnb {
  display: none;
}
@media screen and (max-width:768px) {
  #wrap > header > .header-container > .btn-gnb {
    display: block;
    outline: none;
    background: none;
    border: none;
    text-indent: -9999px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-image: url(./../images/mobile/icon_asidemenu.png);
    background-position: center center;
    background-size: 21px auto;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width:768px) {
  #wrap > section {
    margin-top: 65px;
    background-color: #f6f6f6;
    padding-bottom: 300px;
  }
}
#wrap > section > .visual-slide {
  position: relative;
}
#wrap > section > .visual-slide > .support {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: -50px;
  margin-left: -10px;
}
@media screen and (max-width:768px) {
  #wrap > section > .visual-slide > .support {
    display: none;
  }
}
#wrap > section > .visual-slide > .support > a {
  display: block;
  width: 300px;
  height: 80px;
  font-weight: 600;
  font-size: 22px;
  line-height: 80px;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
#wrap > section > .visual-slide > .support > a:first-child {
  padding-left: 20px;
  background-color: #ffce32;
  background-image: url(./../images/icon_map.png);
  background-position: 80px center;
  border-radius: 35px 0 0 0;
}
#wrap > section > .visual-slide > .support > a:last-child {
  padding-left: 30px;
  color: #fff;
  background-color: #009223;
  background-image: url(./../images/icon_franchise.png);
  background-position: 50px center;
  border-radius: 0 0 35px 0;
}
#wrap > section > .visual-slide > .mobile-quickmenu {
  display: none;
}
@media screen and (max-width:768px) {
  #wrap > section > .visual-slide > .mobile-quickmenu {
    display: flex;
    position: absolute;
    left: 2.5%;
    bottom: -170px;
    width: 95%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px 0 20px 0;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a {
    display: block;
    flex: 1;
    font-weight: 500;
    color: #999;
    font-size: 14px;
    text-align: center;
    background-position: center 100px;
    background-size: 100px 74px;
    background-repeat: no-repeat;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a:hover {
    color: #009223;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a > strong {
    display: block;
    position: relative;
    z-index: 100;
    margin-top: 30px;
    color: #222;
    font-weight: 800;
    font-size: 16px;
    line-height: 2;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a > strong:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: -3px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0 50%;
    background-color: #ffce32;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a:first-child {
    background-image: url(./../images/mobile/img_fastsub.png);
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a:first-child > strong:before {
    margin-left: -55px;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a:last-child {
    background-image: url(./../images/mobile/img_homesub.png);
  }
  #wrap > section > .visual-slide > .mobile-quickmenu > a:last-child > strong:before {
    margin-left: -60px;
  }
  #wrap > section > .visual-slide > .mobile-quickmenu:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 130px;
    left: 50%;
    top: 50%;
    margin-top: -65px;
    background-color: #eee;
  }
}
#wrap > section > .menu-slide {
  position: relative;
  max-width: 1300px;
  margin: 100px auto;
}
@media screen and (max-width:768px) {
  #wrap > section > .menu-slide {
    display: none;
  }
}
#wrap > section > .menu-slide > .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto 20px;
  padding: 0 30px;
  box-sizing: border-box;
}
#wrap > section > .menu-slide > .menu-container > h3 {
  position: relative;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
}
#wrap > section > .menu-slide > .menu-container > h3::before {
  position: absolute;
  left: -25px;
  top: -15px;
  z-index: -1;
  width: 60px;
  height: 60px;
  background-color: #ffce32;
  border-radius: 40px 40px 0 40px;
  content: "";
}
#wrap > section > .menu-slide > .menu-container > .menu-category {
  display: flex;
  justify-content: space-between;
  width: 450px;
}
#wrap > section > .menu-slide > .menu-container > .menu-category > a {
  display: block;
  position: relative;
  color: #555;
  font-weight: 500;
  font-size: 16px;
}
#wrap > section > .menu-slide > .menu-container > .menu-category > a::after {
  display: block;
  position: absolute;
  right: -30px;
  top: 2px;
  width: 1px;
  height: 14px;
  background-color: #ccc;
  content: "";
}
#wrap > section > .menu-slide > .menu-container > .menu-category > a:last-child:after {
  display: none;
}
#wrap > section > .menu-slide > .menu-container > .menu-category > a.on, #wrap > section > .menu-slide > .menu-container > .menu-category > a:hover {
  color: #009223;
}
#wrap > section > .menu-slide > .slide-container {
  padding-bottom: 80px;
}
#wrap > section > .menu-slide > .slide-container .swiper {
  max-width: 1200px;
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide {
  background-position: center 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide > a {
  display: block;
  max-width: 300px;
  padding-bottom: 20px;
  border: 1px solid #fff;
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide > a > h4 {
  margin: 80% 0 20px;
  font-size: 20px;
  text-align: center;
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide > a > p {
  text-align: center;
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.eggmayo {
  background-image: url(./../images/sandwich_cl06_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.italian-bmt {
  background-image: url(./../images/sandwich_cl01_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.blt {
  background-image: url(./../images/sandwich_cl02_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.ham {
  background-image: url(./../images/sandwich_cl04_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.tuna {
  background-image: url(./../images/sandwich_cl05_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.rotisserie {
  background-image: url(./../images/sandwich_fl01_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.roasted {
  background-image: url(./../images/sandwich_fl02_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.club {
  background-image: url(./../images/sandwich_fl04_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.slice {
  background-image: url(./../images/sandwich_fl05_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.veggie {
  background-image: url(./../images/sandwich_fl06_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.shrimp {
  background-image: url(./../images/sandwich_pm10_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.pork {
  background-image: url(./../images/sandwich_pm08_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.steak {
  background-image: url(./../images/sandwich_pm01_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.avocado {
  background-image: url(./../images/sandwich_pm02_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.spicy {
  background-image: url(./../images/sandwich_pm06_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.teriyaki {
  background-image: url(./../images/sandwich_pm07_01.jpg);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.hameggcheese {
  background-image: url(./../images/sandwich_bf01.png);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.westerneggcheese {
  background-image: url(./../images/sandwich_bf02.png);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.baconeggcheese {
  background-image: url(./../images/sandwich_bf03.png);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.steakeggcheese {
  background-image: url(./../images/sandwich_bf04.png);
}
#wrap > section > .menu-slide > .slide-container .swiper .swiper-wrapper .swiper-slide.empty {
  max-width: 300px;
  padding: 13.5% 0;
}
#wrap > section > .menu-slide > .swiper-button-prev {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -650px;
  background-image: url(./../images/icon_event_slider_arr.png);
}
#wrap > section > .menu-slide > .swiper-button-prev::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(./../images/icon_event_slider_arr.png);
  background-position: 0 50px;
  opacity: 0;
  transition: all 0.2s;
}
#wrap > section > .menu-slide > .swiper-button-prev:hover::after {
  opacity: 1;
}
#wrap > section > .menu-slide > .swiper-button-next {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: 600px;
  background-image: url(./../images/icon_event_slider_arr.png);
  background-position: 50px 0;
}
#wrap > section > .menu-slide > .swiper-button-next::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(./../images/icon_event_slider_arr.png);
  background-position: 50px 50px;
  opacity: 0;
  transition: all 0.2s;
}
#wrap > section > .menu-slide > .swiper-button-next:hover::after {
  opacity: 1;
}
#wrap > section > .banner-section {
  padding: 80px 0;
  background-image: url(./../images/bg_content.gif);
}
@media screen and (max-width:768px) {
  #wrap > section > .banner-section {
    display: none;
  }
}
#wrap > section > .banner-section > .banner-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#wrap > section > .banner-section > .banner-top > div {
  position: relative;
  height: 300px;
}
#wrap > section > .banner-section > .banner-top > div > a {
  display: block;
  height: 300px;
  padding: 40px;
  color: #fff;
  box-sizing: border-box;
}
#wrap > section > .banner-section > .banner-top > div > a > h3 {
  font-size: 26px;
  line-height: 1.4;
}
#wrap > section > .banner-section > .banner-top > div > a > span {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  padding: 10px 18px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 30px;
  transition: all 0.5s;
}
#wrap > section > .banner-section > .banner-top > div > a > span:hover {
  background-color: #fff;
}
#wrap > section > .banner-section > .banner-top > .banner-howto {
  width: 400px;
  background-image: url(./../images/bg_utilization.png);
}
#wrap > section > .banner-section > .banner-top > .banner-howto span:hover {
  color: #01a5e2;
  font-weight: 500;
}
#wrap > section > .banner-section > .banner-top > .banner-history {
  position: absolute;
  right: -55px;
  top: 0;
  width: 825px;
  background-image: url(./../images/img_subway_history.png);
}
#wrap > section > .banner-section > .banner-top > .banner-history > a {
  width: 768px;
}
#wrap > section > .banner-section > .banner-top > .banner-history > a > h3,
#wrap > section > .banner-section > .banner-top > .banner-history > a > span {
  margin-left: 370px;
}
#wrap > section > .banner-section > .banner-top > .banner-history span:hover {
  color: #ff8300;
  font-weight: 500;
}
#wrap > section > .banner-section > .banner-bottom {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 40px auto 0;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew {
  display: flex;
  width: 880px;
  height: 300px;
  background-color: #fff;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-title > h3 {
  position: relative;
  z-index: 200;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-title > h3::before {
  position: absolute;
  left: -27px;
  top: -15px;
  z-index: -1;
  width: 60px;
  height: 60px;
  background-color: #ffce32;
  border-radius: 40px 40px 0 40px;
  content: "";
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-title > h3 > a {
  display: block;
  padding: 15px 0;
  font-weight: 800;
  font-size: 28px;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-title p {
  padding: 15px 0;
  color: #666;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > .whatsnew-list > li > a {
  display: inline-block;
  position: relative;
  color: #292929;
  font-size: 16px;
  line-height: 2.4;
  transition: all 0.2s;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > .whatsnew-list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 1px;
  background-color: #009223;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: all 0.2s;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > .whatsnew-list > li > a:hover {
  color: #009223;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > .whatsnew-list > li > a:hover:after {
  transform: scaleX(1);
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > span {
  padding: 20px 0;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > span > a {
  color: #999;
  font-size: 14px;
}
#wrap > section > .banner-section > .banner-bottom > .banner-whatsnew > .whatsnew-container > span > a:hover {
  color: #009223;
}
#wrap > section > .banner-section > .banner-bottom > .banner-commercial {
  width: 270px;
}
#wrap > section > .banner-section > .banner-bottom > .banner-commercial > a {
  display: block;
  overflow: hidden;
  height: 300px;
  border-radius: 0 30px 0 30px;
}
#wrap > section > .banner-section > .banner-bottom > .banner-commercial > a > img {
  display: block;
  width: 100%;
  transition: all 2s;
}
#wrap > section > .banner-section > .banner-bottom > .banner-commercial > a:hover > img {
  transform: scale(1.1);
}
#wrap > section > .quickmenu {
  padding: 50px 0;
}
@media screen and (max-width:768px) {
  #wrap > section > .quickmenu {
    display: none;
  }
}
#wrap > section > .quickmenu > .quickmenu-container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
#wrap > section > .quickmenu > .quickmenu-container > li {
  flex: 1;
  margin-right: 30px;
}
#wrap > section > .quickmenu > .quickmenu-container > li > a {
  display: flex;
}
#wrap > section > .quickmenu > .quickmenu-container > li > a > span {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  background-image: url(./../images/icon_quickmenu.png);
}
#wrap > section > .quickmenu > .quickmenu-container > li > a > .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
}
#wrap > section > .quickmenu > .quickmenu-container > li > a > .link > h4 {
  font-size: 18px;
  letter-spacing: -1px;
  transition: all 0.3s;
}
#wrap > section > .quickmenu > .quickmenu-container > li > a > .link > p {
  color: #9fa19f;
}
#wrap > section > .quickmenu > .quickmenu-container > li > a:hover > .link > h4 {
  color: #009223;
}
#wrap > section > .quickmenu > .quickmenu-container > li:nth-child(1) > a > span {
  background-position: 0 0;
}
#wrap > section > .quickmenu > .quickmenu-container > li:nth-child(2) > a > span {
  background-position: 70px 0;
}
#wrap > section > .quickmenu > .quickmenu-container > li:nth-child(3) > a > span {
  background-position: 140px 0;
}
#wrap > section > .quickmenu > .quickmenu-container > li:nth-child(4) {
  margin: 0;
}
#wrap > section > .quickmenu > .quickmenu-container > li:nth-child(4) > a > span {
  background-position: 210px 0;
}
#wrap > footer {
  color: #666;
  background-color: #292929;
}
#wrap > footer a {
  color: #666;
}
#wrap > footer > .footer-top {
  border-bottom: 1px solid #444;
}
#wrap > footer > .footer-top > .info {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-top > .info {
    width: 100%;
    justify-content: center;
    max-width: initial;
  }
}
#wrap > footer > .footer-top > .info > li {
  margin-right: 30px;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: -1px;
}
#wrap > footer > .footer-top > .info > li > a {
  transition: all 0.2s;
}
#wrap > footer > .footer-top > .info > li > a:hover {
  color: #ddd;
  font-weight: 500;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-top > .info > li:nth-child(3) {
    display: none;
  }
  #wrap > footer > .footer-top > .info > li:nth-child(4) {
    display: none;
  }
}
#wrap > footer > .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 24px;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom {
    height: 210px;
    margin: 20px auto 0;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
#wrap > footer > .footer-bottom > .address-container > .about {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom > .address-container > .about {
    justify-content: center;
  }
}
#wrap > footer > .footer-bottom > .address-container > .about > .contact {
  display: flex;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom > .address-container > .about > .contact {
    flex-wrap: wrap;
    justify-content: center;
  }
}
#wrap > footer > .footer-bottom > .address-container > .about > .contact > p {
  position: relative;
  margin-left: 20px;
}
#wrap > footer > .footer-bottom > .address-container > .about > .contact > p:before {
  display: block;
  position: absolute;
  left: -11px;
  top: 7px;
  width: 2px;
  height: 10px;
  background-color: #666;
  content: "";
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom > .address-container > .about > .contact > p:nth-child(1)::before {
    display: none;
  }
  #wrap > footer > .footer-bottom > .address-container > .about > .contact > p:nth-child(3) {
    width: 100%;
    text-align: center;
  }
  #wrap > footer > .footer-bottom > .address-container > .about > .contact > p:nth-child(3)::before {
    display: none;
  }
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom > .address-container > address {
    margin-top: 20px;
    text-align: center;
  }
}
#wrap > footer > .footer-bottom .sns {
  display: flex;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom .sns {
    margin-bottom: 15px;
  }
}
#wrap > footer > .footer-bottom .sns > a {
  display: block;
  position: relative;
  z-index: 100;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  text-indent: -9999px;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom .sns > a {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: 0 0;
  }
}
#wrap > footer > .footer-bottom .sns > a:first-child {
  background-image: url(./../images/icon_sns_instar.png);
}
#wrap > footer > .footer-bottom .sns > a:first-child::after {
  background-image: url(./../images/icon_sns_instar.png);
}
#wrap > footer > .footer-bottom .sns > a:last-child {
  background-image: url(./../images/icon_sns_facebook.png);
}
#wrap > footer > .footer-bottom .sns > a:last-child::after {
  background-image: url(./../images/icon_sns_facebook.png);
}
#wrap > footer > .footer-bottom .sns > a::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 50px 0;
  opacity: 0;
  transition: all 0.2s;
}
@media screen and (max-width:768px) {
  #wrap > footer > .footer-bottom .sns > a::after {
    background-position: 40px 0;
    background-size: cover;
  }
}
#wrap > footer > .footer-bottom .sns > a:hover:after {
  opacity: 1;
}

.bx-wrapper li > a {
  display: block;
  height: 440px;
  text-indent: -9999px;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 1280px) {
  .bx-wrapper li > a {
    background-position: -320px center;
  }
}
@media screen and (max-width: 1280px) and (max-width:768px) {
  .bx-wrapper li > a {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}
.bx-wrapper li.one a {
  background-image: url(./../images/main_PC_1920x440_1.jpg);
}
.bx-wrapper li.two a {
  background-image: url(./../images/main_PC_1920x440_2.jpg);
}
.bx-wrapper li.three a {
  background-image: url(./../images/main_PC_1920x440_3.jpg);
}
.bx-wrapper li.four a {
  background-image: url(./../images/main_PC_1920x440_4.jpg);
}
@media screen and (max-width:768px) {
  .bx-wrapper li {
    height: 680px;
  }
  .bx-wrapper li.one a {
    background-image: url(./../images/mobile/main_Mobile_640x680_20230201084731828.jpg);
  }
  .bx-wrapper li.two a {
    background-image: url(./../images/mobile/main_Mobile_640x680_20230201084959478.jpg);
  }
  .bx-wrapper li.three a {
    background-image: url(./../images/mobile/main_Mobile_640x680_20220929024651382.jpg);
  }
  .bx-wrapper li.four a {
    background-image: url(./../images/mobile/main_Mobile_640x680_20201006040046990.jpg);
  }
}

@media screen and (max-width:768px) {
  .bx-wrapper {
    width: 100%;
    height: 680px;
  }
}/*# sourceMappingURL=style.css.map */